@charset "UTF-8";

body,
p,
img,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0
}

a {
	text-decoration: none;
	color: #fff
}

ul,
ol {
	list-style: none
}

input,
button {
	border: 0
}

section {
	text-align: center;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

section:nth-child(2n) {
	background-color: #fafafa
}

section .bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1
}

html,
body {
	min-width: 1200px
}

.content {
	width: 57.29%;
	margin: 0 auto
}

.content-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.text-yellow {
	color: #ff7900
}

.text-title {
	font-size: .33333rem;
	color: #181818
}

.text-desc {
	font-size: .125rem;
	color: #666
}

.pageOne {
	text-align: center;
	padding-top: .64063rem;
	padding-bottom: .83854rem;
	position: relative
}

.pageOne .content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.pageOne .content .imgBox {
	width: 32.636363%
}

.pageOne .content .imgBox>img {
	width: 100%
}

.pageOne .content .one-right {
	width: 56.636363%;
	text-align: left
}

.pageOne .content .one-right .one-right-top {
	margin-bottom: .1875rem;
	font-size: 0
}

.pageOne .content .one-right .one-right-top .icon {
	/* width: .66667rem; */
	display: inline-block;
	vertical-align: middle
}

.pageOne .content .one-right .one-right-top .logo {
	/* width: .90625rem; */
	margin-left: .15625rem;
	display: inline-block;
	vertical-align: middle
}

.pageOne .content .one-right .one-right-btm {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.pageOne .content .one-right .one-right-btm .imgbox {
	width: .72917rem;
	margin-right: .08333rem
}

.pageOne .content .one-right .one-right-btm .imgbox>img {
	width: 100%
}

.pageOne .content .one-right .one-right-btm .links {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.pageOne .content .one-right .one-right-btm .links .download {
	text-align: center;
	display: inline-block;
	width: 1.16667rem;
	height: .33333rem;
	background-color: #ff7900;
	-webkit-box-shadow: 2px 4px 7px 0 rgba(255, 121, 0, .4);
	box-shadow: 2px 4px 7px 0 rgba(255, 121, 0, .4);
	-webkit-border-radius: .16667rem;
	border-radius: .16667rem;
	line-height: .33333rem;
	font-size: .125rem
}

.pageOne .content .one-right .one-right-btm .links .test {
	display: inline-block;
	font-size: .08333rem;
	color: #999;
	position: relative;
	padding-bottom: 5px;
	margin-top: .13021rem
}

.pageOne .content .one-right .one-right-btm .links .test:after {
	content: '';
	width: 100%;
	height: 1px;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #999
}

.pageOne .content .one-right .one-right-btm .play {
	width: .54167rem;
	display: inline-block;
	margin-left: .15104rem
}

.pageOne .content .one-right .one-right-btm .play>img {
	width: 100%
}

.pageOne .content .one-right .one-right-ctr {
	font-size: .09375rem;
	color: #999
}

.pageOne .content .one-right .one-right-ctr>p {
	width: 3.24479rem
}

.pageOne .content .one-right .one-right-ctr>p>i {
	margin: 0 6px;
	font-style: normal
}

.pageOne .content .one-right .one-right-ctr .fl {
	margin-top: 22px;
	margin-bottom: 16px
}

.pageOne .content .one-right .one-right-ctr .update {
	color: #ff7802
}

.pageTwo {
	position: relative;
	overflow: hidden;
	text-align: center
}

.pageTwo.active .imgwrap .imgs>img:nth-child(1) {
	-webkit-animation: slideInUp 1s ease .3s 1 forwards;
	-moz-animation: slideInUp 1s ease .3s 1 forwards;
	animation: slideInUp 1s ease .3s 1 forwards
}

.pageTwo.active .imgwrap .imgs>img:nth-child(2) {
	-webkit-animation: slideInUp 1s ease .4s 1 forwards;
	-moz-animation: slideInUp 1s ease .4s 1 forwards;
	animation: slideInUp 1s ease .4s 1 forwards
}

.pageTwo.active .imgwrap .imgs>img:nth-child(3) {
	-webkit-animation: slideInUp 1s ease 0s 1 forwards;
	-moz-animation: slideInUp 1s ease 0s 1 forwards;
	animation: slideInUp 1s ease 0s 1 forwards
}

.pageTwo.active .imgwrap .imgs>img:nth-child(4) {
	-webkit-animation: slideInUp 1s ease .5s 1 forwards;
	-moz-animation: slideInUp 1s ease .5s 1 forwards;
	animation: slideInUp 1s ease .5s 1 forwards
}

.pageTwo.active .imgwrap .imgs>img:nth-child(5) {
	-webkit-animation: slideInUp 1s ease .3s 1 forwards;
	-moz-animation: slideInUp 1s ease .3s 1 forwards;
	animation: slideInUp 1s ease .3s 1 forwards
}

.pageTwo .two-title {
	margin-top: .56771rem
}

.pageTwo .imgwrap {
	position: relative
}

.pageTwo .imgwrap .imgs {
	width: 100%;
	height: 3.8125rem;
	max-width: 1000px;
	z-index: 97;
	position: relative
}

.pageTwo .imgwrap .imgs>img {
	height: 100%;
	position: absolute;
	visibility: hidden
}

.pageTwo .imgwrap .imgs>img:nth-child(1) {
	z-index: 97;
	margin-top: .91146rem;
	left: -.52083rem
}

.pageTwo .imgwrap .imgs>img:nth-child(2) {
	z-index: 99;
	margin-top: .71875rem;
	left: .53125rem
}

.pageTwo .imgwrap .imgs>img:nth-child(3) {
	z-index: 100;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: .48438rem
}

.pageTwo .imgwrap .imgs>img:nth-child(4) {
	z-index: 99;
	margin-top: .71875rem;
	right: .57813rem
}

.pageTwo .imgwrap .imgs>img:nth-child(5) {
	z-index: 98;
	margin-top: .91146rem;
	right: -.52083rem
}

.pageThree {
	position: relative;
	z-index: 999;
	margin-top: -.53125rem;
	padding-top: .53125rem;
	padding-bottom: .3125rem;
	background-color: #fff
}

.pageThree.active .imgbox .img-ipad {
	-webkit-animation: slideInRight 1s ease 1 forwards;
	-moz-animation: slideInRight 1s ease 1 forwards;
	animation: slideInRight 1s ease 1 forwards
}

.pageThree.active .imgbox .img-phone {
	-webkit-animation: slideInLeft 1s ease 1 forwards;
	-moz-animation: slideInLeft 1s ease 1 forwards;
	animation: slideInLeft 1s ease 1 forwards
}

.pageThree .text-desc {
	margin-top: .15625rem;
	margin-bottom: .20833rem
}

.pageThree .imgbox {
	position: relative;
	text-align: left;
	font-size: 0
}

.pageThree .imgbox>img {
	visibility: hidden
}

.pageThree .imgbox .img-ipad {
	width: 82.1%;
	position: absolute;
	left: 120px;
	bottom: 0;
	z-index: -1
}

.pageThree .imgbox .img-phone {
	width: 32%;
	display: inline-block
}

.pageFour {
	padding-top: .42188rem;
	padding-bottom: .19792rem
}

.pageFour .text-desc {
	margin-top: .16146rem;
	margin-bottom: .46354rem;
	padding-left: 10%;
	padding-right: 15%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.pageFour.active .imgwrap>img {
	-webkit-animation: fadeIn 1s ease-in 1 forwards;
	-moz-animation: fadeIn 1s ease-in 1 forwards;
	animation: fadeIn 1s ease-in 1 forwards
}

.pageFour.active .imgwrap>img:nth-child(3) {
	-webkit-animation: bounceInDown 1s ease 1 forwards;
	-moz-animation: bounceInDown 1s ease 1 forwards;
	animation: bounceInDown 1s ease 1 forwards
}

.pageFour .imgwrap {
	font-size: 0;
	width: 100%;
	height: 2.95833rem;
	position: relative
}

.pageFour .imgwrap>img {
	width: 23.3636%;
	position: absolute;
	visibility: hidden
}

.pageFour .imgwrap>img:nth-child(1) {
	left: .17188rem;
	z-index: 10;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8)
}

.pageFour .imgwrap>img:nth-child(2) {
	left: .97917rem;
	z-index: 11;
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85)
}

.pageFour .imgwrap>img:nth-child(3) {
	left: 0;
	right: 0;
	z-index: 12;
	margin: auto
}

.pageFour .imgwrap>img:nth-child(4) {
	right: .97917rem;
	z-index: 11;
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85)
}

.pageFour .imgwrap>img:nth-child(5) {
	right: .17188rem;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8)
}

.pageFour .ranks {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 0;
	margin-top: .26563rem
}

.pageFour .ranks .textbox:nth-child(2) {
	margin-left: .83854rem;
	margin-right: .73958rem
}

.pageFour .ranks .textbox>p {
	font-size: .14583rem;
	color: #333;
	margin-bottom: .10938rem
}

.pageFour .ranks .textbox>span {
	font-size: .08333rem;
	color: #666
}

.pageFive {
	padding-top: .91667rem;
	padding-bottom: .82292rem
}

.pageFive.active .c-right .imgbox .phone {
	-webkit-animation: fadeIn 1s ease 1 forwards;
	-moz-animation: fadeIn 1s ease 1 forwards;
	animation: fadeIn 1s ease 1 forwards
}

.pageFive.active .c-right .imgbox .comt:nth-child(2) {
	left: -44%;
	top: 41.4342%;
	-webkit-animation: fadeInOut 2s ease 2s 1 forwards;
	-moz-animation: fadeInOut 2s ease 2s 1 forwards;
	animation: fadeInOut 2s ease 2s 1 forwards
}

.pageFive.active .c-right .imgbox .comt:nth-child(3) {
	top: 18.5922%;
	left: -64.7058%;
	-webkit-animation: fadeInOut 2s ease 1.2s 1 forwards;
	-moz-animation: fadeInOut 2s ease 1.2s 1 forwards;
	animation: fadeInOut 2s ease 1.2s 1 forwards
}

.pageFive.active .c-right .imgbox .comt:nth-child(4) {
	top: 25.8964%;
	right: -22.94%;
	-webkit-animation: fadeInOut 2s ease 1.5s 1 forwards;
	-moz-animation: fadeInOut 2s ease 1.5s 1 forwards;
	animation: fadeInOut 2s ease 1.5s 1 forwards
}

.pageFive.active .c-right .imgbox .comt:nth-child(5) {
	bottom: 43.6918%;
	right: -28.94%;
	-webkit-animation: fadeInOut 2s ease 1.8s 1 forwards;
	-moz-animation: fadeInOut 2s ease 1.8s 1 forwards;
	animation: fadeInOut 2s ease 1.8s 1 forwards
}

.pageFive.active .c-right .imgbox .comt:nth-child(6) {
	bottom: 26.16%;
	left: -27.4705%;
	-webkit-animation: fadeInOut 2s ease 2s 1 forwards;
	-moz-animation: fadeInOut 2s ease 2s 1 forwards;
	animation: fadeInOut 2s ease 2s 1 forwards
}

.pageFive.active .c-right .imgbox .comt:nth-child(7) {
	bottom: 33.864%;
	right: -10%;
	-webkit-animation: fadeInOut 2s ease 1s 1 forwards;
	-moz-animation: fadeInOut 2s ease 1s 1 forwards;
	animation: fadeInOut 2s ease 1s 1 forwards
}

.pageFive .c-left {
	text-align: left;
	max-width: 3.04167rem
}

.pageFive .c-left .text-desc {
	margin-top: .20313rem
}

.pageFive .c-right {
	width: 1.77083rem;
	font-size: 0
}

.pageFive .c-right .imgbox {
	position: relative
}

.pageFive .c-right .imgbox>img {
	width: 100%;
	visibility: hidden
}

.pageFive .c-right .imgbox .phone {
	position: static;
	z-index: 9
}

.pageFive .c-right .imgbox .comt {
	position: absolute;
	width: 51.7647%;
	opacity: 0;
	z-index: 10
}

.pageFive .c-right .imgbox .comt:nth-child(2) {
	left: -44%;
	top: 41.4342%
}

.pageFive .c-right .imgbox .comt:nth-child(3) {
	top: 18.5922%;
	left: -64.7058%
}

.pageFive .c-right .imgbox .comt:nth-child(4) {
	top: 25.8964%;
	right: -22.94%
}

.pageFive .c-right .imgbox .comt:nth-child(5) {
	bottom: 43.6918%;
	right: -28.94%
}

.pageFive .c-right .imgbox .comt:nth-child(6) {
	bottom: 26.16%;
	left: -27.4705%
}

.pageFive .c-right .imgbox .comt:nth-child(7) {
	bottom: 33.864%;
	right: -10%
}

.pageSix {
	padding-top: .94792rem;
	padding-bottom: .80208rem
}

.pageSix.active .c-lft>img {
	-webkit-animation: fadeIn 1s ease 1 forwards;
	-moz-animation: fadeIn 1s ease 1 forwards;
	animation: fadeIn 1s ease 1 forwards
}

.pageSix .c-lft {
	font-size: 0;
	width: 1.75521rem
}

.pageSix .c-lft>img {
	width: 100%;
	visibility: hidden
}

.pageSix .c-rht {
	text-align: left;
	max-width: 3rem
}

.pageSix .c-rht .text-desc {
	margin-top: .26563rem
}

.pageSeven {
	padding-top: .94792rem;
	padding-bottom: .79167rem
}

.pageSeven.active .c-lft .channel>img {
	-webkit-animation: fadeIn 1s ease 1 forwards;
	-moz-animation: fadeIn 1s ease 1 forwards;
	animation: fadeIn 1s ease 1 forwards
}

.pageSeven.active .c-rht>img {
	-webkit-animation: fadeIn 1s ease 1 forwards;
	-moz-animation: fadeIn 1s ease 1 forwards;
	animation: fadeIn 1s ease 1 forwards
}

.pageSeven .c-lft {
	text-align: left;
	max-width: 2.98438rem
}

.pageSeven .c-lft .text-desc {
	margin-top: .20313rem
}

.pageSeven .c-lft .channel>img {
	width: 100%;
	visibility: hidden
}

.pageSeven .c-rht {
	width: 1.71875rem
}

.pageSeven .c-rht>img {
	width: 100%;
	visibility: hidden
}

.pageEight {
	padding-top: .34896rem
}

.pageEight.active .c-lft>img {
	-webkit-animation: fadeIn 1s ease 1 forwards;
	-moz-animation: fadeIn 1s ease 1 forwards;
	animation: fadeIn 1s ease 1 forwards
}

.pageEight.active .c-rht .imgbox>img {
	-webkit-animation: fadeIn 1s ease 1 forwards;
	-moz-animation: fadeIn 1s ease 1 forwards;
	animation: fadeIn 1s ease 1 forwards
}

.pageEight .c-lft {
	font-size: 0;
	width: 1.78646rem
}

.pageEight .c-lft>img {
	visibility: hidden;
	width: 100%
}

.pageEight .c-rht {
	text-align: left;
	max-width: 2.99479rem
}

.pageEight .c-rht .text-desc {
	margin-top: .26563rem
}

.pageEight .c-rht .imgbox {
	font-size: 0;
	padding-top: .20833rem;
	padding-left: .10417rem
}

.pageEight .c-rht .imgbox>img {
	width: 1.69792rem;
	visibility: hidden
}

.pageEight .c-rht .imgbox>img:nth-child(2) {
	margin: .15104rem 0;
	margin-left: .26042rem
}

body>aside .aside {
	font-size: .07292rem;
	position: fixed;
	bottom: 40px;
	right: 30px;
	z-index: 999
}

body>aside .aside p {
	cursor: pointer;
	margin-bottom: 20px;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	transition: .7s
}

body>aside .aside p span img {
	vertical-align: top
}

body>aside .aside p span:last-of-type {
	display: none
}

body>aside .aside p span:first-of-type {
	display: inline
}

body>aside .aside.hide {
	opacity: 0;
	visibility: hidden
}

body>aside .aside p:last-of-type {
	margin-bottom: 0
}

body>aside .aside p:hover span:first-of-type {
	display: none
}

body>aside .aside p:hover span:last-of-type {
	display: inline
}

.wxgzhh {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 90px;
	padding: 3px;
	z-index: 999;
	background: #fff;
	text-align: center;
	border: solid 1px #fea22c;
	font-size: .07292rem
}

.wxgzhh>img {
	width: 70px
}

.wxgzhh>span {
	display: block;
	font-size: 14px;
	color: #666
}

footer {
	width: 100%;
	background: #333;
	color: #666;
	padding-bottom: 25px;
	padding-top: 20px;
	font-size: .07292rem
}

footer>ul {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

footer>div ul li {
	margin-bottom: 25px
}

footer ul li a {
	color: #666
}

footer>img {
	position: absolute;
	left: 100px;
	top: 60px
}

footer>ul li {
	display: inline;
	border-right: 1px solid #666;
	padding: 0 5px
}

footer>ul li:last-of-type {
	border-right: 0
}

footer.short {
	margin-left: -512px;
	background: #fff;
	width: 1024px;
	padding-top: 56px;
	border-top: 1px solid #ebebeb
}

.mask {
	background: rgba(0, 0, 0, .8);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999
}

@-webkit-keyframes slideInDown {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		visibility: visible
	}

	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		visibility: visible
	}
}

@-moz-keyframes slideInDown {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		-moz-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		visibility: visible
	}

	to {
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		transform: translateZ(0);
		visibility: visible
	}
}

@keyframes slideInDown {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		-moz-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		visibility: visible
	}

	to {
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		transform: translateZ(0);
		visibility: visible
	}
}

@-webkit-keyframes slideInLeft {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible
	}

	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		visibility: visible
	}
}

@-moz-keyframes slideInLeft {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0);
		-moz-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible
	}

	to {
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		transform: translateZ(0);
		visibility: visible
	}
}

@keyframes slideInLeft {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0);
		-moz-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible
	}

	to {
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		transform: translateZ(0);
		visibility: visible
	}
}

@-webkit-keyframes slideInRight {
	0% {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible
	}

	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		visibility: visible
	}
}

@-moz-keyframes slideInRight {
	0% {
		-webkit-transform: translate3d(100%, 0, 0);
		-moz-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible
	}

	to {
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		transform: translateZ(0);
		visibility: visible
	}
}

@keyframes slideInRight {
	0% {
		-webkit-transform: translate3d(100%, 0, 0);
		-moz-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible
	}

	to {
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		transform: translateZ(0);
		visibility: visible
	}
}

@-webkit-keyframes bounceInDown {

	0%,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0)
	}

	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}

	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0)
	}

	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		visibility: visible
	}
}

@-moz-keyframes bounceInDown {

	0%,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
		-moz-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		-moz-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		-moz-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0)
	}

	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		-moz-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}

	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		-moz-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0)
	}

	to {
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		transform: translateZ(0);
		visibility: visible
	}
}

@keyframes bounceInDown {

	0%,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
		-moz-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		-moz-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		-moz-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0)
	}

	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		-moz-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}

	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		-moz-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0)
	}

	to {
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		transform: translateZ(0);
		visibility: visible
	}
}

@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3)
	}

	50% {
		opacity: 1
	}
}

@-moz-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		-moz-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3)
	}

	50% {
		opacity: 1
	}
}

@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		-moz-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3)
	}

	50% {
		opacity: 1
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}

	to {
		opacity: 1;
		visibility: visible
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0
	}

	to {
		opacity: 1;
		visibility: visible
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}

	to {
		opacity: 1;
		visibility: visible
	}
}

@-webkit-keyframes slideInUp {
	0% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		visibility: visible
	}

	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		visibility: visible
	}
}

@-moz-keyframes slideInUp {
	0% {
		-moz-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		visibility: visible
	}

	to {
		-moz-transform: translateZ(0);
		transform: translateZ(0);
		visibility: visible
	}
}

@keyframes slideInUp {
	0% {
		-webkit-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		visibility: visible
	}

	to {
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		transform: translateZ(0);
		visibility: visible
	}
}

@-webkit-keyframes fadeInOut {
	0% {
		opacity: 0
	}

	to {
		opacity: .8;
		visibility: visible
	}
}

@-moz-keyframes fadeInOut {
	0% {
		opacity: 0
	}

	to {
		opacity: .8;
		visibility: visible
	}
}

@keyframes fadeInOut {
	0% {
		opacity: 0
	}

	to {
		opacity: .8;
		visibility: visible
	}
}
